.landing-name {
    background-color: #1d3557;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20em;
}

.block {
    margin: 2% 2%;
    text-align: center;
}

.block-title {
    font-size: 200%;
}

.version-title {
    color: white;
    margin-left: 1%;
}

.versions-block {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    background-color: #1d3557;
    padding: 1.5%;
}

.version-download-link {
    text-decoration: none;
    color: white;
    margin-right: 1%;
    padding-right: 1%;
    padding-left: 1%;
    background-color: #457b9d;
}

.version-download-link:hover {
    color: white;
    background-color: #457b9d7c;
}

.download-latest-link {
    margin-top: 2em;
    background-color: #457b9d;
    color: white;
    text-decoration: none;
    padding: 1%;
    font-size: 150%;
    padding-left: 3%;
    padding-right: 3%;
}

.download-latest-link:hover {
    color: white;
    text-decoration: none;
    font-size: 170%;
    padding: 1.2%;
    padding-left: 3.2%;
    padding-right: 3.2%;
    box-shadow: 0px 0px 10px 10px rgb(112, 112, 112, 0.5);
}
